= render template: 'chat_groups/index'

.chat-main
  .chat-main__header
    .chat-main__header__group-info
      .chat-main__header__group-info__name
        test
      .chat-main__header__group-info__members
        Members: 
        = link_to 'foo', '#'
    .chat-main__header__edit-button
      = link_to 'Edit', '#'

  .chat-main__body
    .chat-messages
      .chat-message
        %p.chat-message__name
          user name
        %p.chat-message__date.chat-message--color
          1996/7/4 10:10:00
        %p.chat-message__body
          Hello, World!!
      .chat-message
        %p.chat-message__name
          user name
        %p.chat-message__date.chat-message--color
          1996/7/4 10:10:00
        %p.chat-message__body
          Hello, World!!
