= render template: 'chat_groups/index'

.chat-main
  .chat-main__header
    .chat-main__header__group-info
      .chat-main__header__group-info__name
        test
      .chat-main__header__group-info__members
        Members: 
        = link_to 'foo', '#'
    .chat-main__header__edit-button
      = link_to 'Edit', '#'


    
