.chat-side {
  display: inline-block;
  height: 100vh;
  width: $sidebar_width;
  background-color: $bg_black;
  color: $font_white;

  .chat-user {
    height: 100px;
    padding: 20px;
    @include border_box;
    background-color: $bg_light_black;

    &__name {
      display: inline-block;
      padding-top: 15px;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px;
    }

    &__action {
      float: right;
      margin-left: 7px;
      padding-top: 15px;
      font-size: 20px;
      color: $font_white;
    }
  }

  .chat-groups {
    @include calc(height, "100vh - #{$header_height}");
    overflow: scroll;

    .chat-group {
      padding: 20px;

      &:hover {
        background-color: $bg_light_white;
      }

      &__link {
        text-decoration: none;
        color: $font_white;
      }

      &__name {
        margin-bottom: 11px;
        font-size: 15px;
      }

      &__message {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
      }
    }
  }
}
