.chat-side {
  display: inline-block;
  height: $max_height;
  width: $sidebar;
  background-color: $back_color_black;
  color: $font_white;

  .chat-user {
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    line-height: 60px;
    background-color: back_color_light_black;

    &__name {
      display: inline-block;
      font-size: 16px;
      letter-spacing: 2px;
    }

    &__action {
      float: right;
      margin-left: 10px;
      color: $font_white;
    }
  }

  .chat-groups {
    @include calc(height, "#{$max_height} - #{$header}");
    overflow: scroll;

    .chat-group {
      padding: 20px;

      &__link {
        text-decoration: none;
        color: $font_white;
      }

      &__name {
        margin-bottom: 5px;
        font-size: 15px;
      }

      &__message {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 11px;
      }
    }
  }
}
