.chat-main {
  display: inline-block;
  @include calc(width, '#{$max_width} - #{$sidebar}');
  height: $max_height;
  float: right;

  &__header {
    height: 100px;
    padding: 0 40px;
 
    &__group-info {
      display: inline-block;
      margin-top: 35px;
      
      &__name {
        letter-spacing: 2px;
        font-size: 20px;
        color: $font_black;
      }

      &__members, &__members a {
        margin-top: 15px;
        text-decoration: none;
        font-size: 12px;
        color: $font_gray;
      }
    }

    &__edit-button {
      display: inline-block;
      height: 40px;
      margin-top: 28px;
      float: right;
      line-height: 40px;
      font-size: 14px;

      a {
        display: inline-block;
        padding: 0 20px;
        text-decoration: none;
        border: 2px solid;
        color: $font_sky_blue;
      }
    }
  }

  &__body {
    @include calc(height, '#{$max_height} - #{$header} - #{$footer}');
    border-top: 1px solid $border_color;
    overflow: scroll;

    .chat-messages {
      padding: 46px 40px;

      .chat-message {
        margin-bottom: 40px;
        color: $font_light_black;

        &__name {
          display: inline-block;
          font-size: 16px;
          font-weight: bold;
        }

        &__date {
          display: inline-block;
          margin-left: 10px;
          font-size: 12px;
        }

        &__body {
          margin: 10px 0 40px;
          font-size: 14px;
        }

        &--color {
          color: $font_gray;
        }
      }
    }
  }

  &__footer {
    @include calc(width, '#{$max_width} - #{$sidebar}');
    height: $footer;
    padding: 20px 40px;
    background-color: $footer_back_color;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    &__form {
      @include calc(width, '100% - #{$footer_margin}');
      height: 20px;
      margin-right: 15px;
      padding: 15px 0;
      resize: none;
      border: none;

      &__image {
        display: inline-block;
        height: 50px;
        position: relative;
        right: 50px;
        bottom: 20px;
        line-height: 50px;

        &--none {
          display: none;
        }
      }
    }

    &__button {
      width: 100px;
      height: 50px;
      position: relative;
      bottom: 20px;
      color: $font_white;
      background-color: $button_color;
    }
  }
}
